.app-container {
  min-width: 370px;
}

.navbar {
  background-color: #343a40;
  height: 60px;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-nav {
   padding: 12px 40px;
}

.nav-link {
  padding-right: 35px;
  font-size: 18px;
  color: #FFFFFF;
}

a {
  cursor: pointer;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

.userListContainer {
  margin-top: 50px;
}

.users-table-noUsers {
  padding-top: 20px;
  font-size: 20px;
}

.form-container {
  max-width: 960px;
  margin: 0 auto;
}

.form-skill-field {
  margin: 0 0 24px;
}

.form-skill-input {
  width: 80%;
  margin-right: 8px;
}

.form-skill-icon_minus {
  margin: 0 8px;
}

.field-error {
  color: red;
}

.form-message {
  margin-bottom: 30px;
}

.addSkill-btn {
  width: 80%;
}



